#learnbook-nav {
    .show {
        .logo-btn {
            background-color: #FAFAFA;
        }

        .dropdown-menu {
            z-index: 1050;
        }
    }
}

.app-top-nav {
    display: flex;
    background-color: $white;
    height: 80px;
    min-height: 80px;
    margin: 0;

    .app-nav-container {
        width: 87.5%;
        margin: 0 auto;
    }
}

.app-logo {
    margin-top: 1rem;
}

.app-nav-actions {
    margin-top: 1.3rem;
}

.logo-btn {
    display: block;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    @include transition(all 0.3s ease-out);

    &:hover {
        background-color: #FAFAFA;
    }
}

.nav-action-list {
    .nav-action-item {
        display: inline-block;
        margin-right: 0.75rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.app-search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    .svg-icon {
        position: absolute;
        top: 50%;
        right: 0.25rem;
        @include transform(translateY(-50%));
    }

    .app-search {
        width: 22.5rem;
        background-color: #F7F7F7;
        border-bottom: none;
        padding: 0 $padding-32 0 $padding-16;
        margin: 0;

        &:focus {
            border-bottom: none !important;
        }
    }
}

.profile-dropdown {
    top: -1.1rem;

    .learnbook-btn-default {
        padding-left: 0;

        &:hover {
            background-color: transparent;
        }

        img {
            margin-left: 0.25rem;
        }
    }

    .learnbook-dropdown-menu {
        padding: 0;
    }
}

.profile-info-menu-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: $padding-16 $padding-8;
    border-bottom: 1px solid $gray;

    .profile-menu-image {
        margin-right: 1.1rem;
    }

    .profile-menu-info {
        h3 {
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin: 0;
        }

        span {
            display: block;
            font-size: 0.925em;
            color: #bdbdbd;
            margin-bottom: 0.5rem;
        }

        .learnbook-btn {
            font-size: 0.825em;
            color: $white;
        }
    }
}


