@include make-all-paddings();
@include make-all-margins();

.overflow-hidden {
    overflow: hidden;
}

.background-placeholder {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: color(extralightgraySecondary);
    border-radius: 50%;
}

.w-h-line {
    border-bottom: 1px solid color(extralightgray);
}

/* Font Utilities */
.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}


/* Image Utilities */
.img-responsive {
    max-width: 100%;
    height: auto;
}


/* Grid Layout */
.flex {
    display: flex;

    &--row {
        flex-direction: row;
    }

    &--column {
        flex-direction: column;
    }

    &--center {
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &--space {
        justify-content: space-between;
        align-content: center;
    }
}
