.profile-top-content {
    margin-bottom: 5rem;
}

.profile-background-wrap {
    position: relative;
    background-image: url(../Images/default-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 350px;
}

.profile-secondary-background-wrap {
    background-color: #006AA3;
    padding: 1.75rem 0;
}

.profile-card {
    position: relative;
    padding: 24px;
    margin-top: 16px;
}

.profile-intro {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;

    .profile-image {
        margin: 0 auto;
        width: 130px;
        height: 130px;
        background: #F7F7F7;
        border-radius: 50%;
        border: 4px solid #F6F7FB;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04), 0 1px 18px 0 rgba(0, 0, 0, 0.02), 0 3px 5px -1px rgba(0, 0, 0, 0.01);
    }

    .user-name {
        color: #fff;
        margin: 0 2rem 1rem;
        padding-top: 2rem;
        font-size: 1.6em;
        font-weight: 700;
    }

    .user-title {
        font-size: 1.025em;
        color: #ebebeb;
        margin: 0 2rem 1rem;
    }

    .last-login {
        display: block;
        color: #C7CFD1;
        font-size: 0.725em;
        margin-top: 20px;
    }
}

.social-section {
    text-align: left;

    .social-media-list {
        .social-media-item {
            display: inline-block;
            padding: 7px 7px;

            a {
                font-size: 0.925em;
                color: #fff;

                &.disabled {
                    pointer-events: none;
                    opacity: 0.55;
                }

                i {
                    width: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.profile-main-content {
    display: flex;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin-bottom: 5rem;
}

.profile-info-wrap {
    position: relative;
    display: inline-block;
    -webkit-order: 0;
    order: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    -webkit-align-self: auto;
    align-self: auto;
    width: calc(100% / 3);
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #E2E9EC;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04), 0 1px 18px 0 rgba(0, 0, 0, 0.02), 0 3px 5px -1px rgba(0, 0, 0, 0.01);
    margin-right: 3rem;

    &:last-of-type {
        margin-right: 0;
    }

    .profile-info-head {
        padding: 22px 25px;
        border-bottom: 1px solid #E0E8EB;

        h3 {
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-size: 1.125em;
            font-weight: bold;
        }
    }

    .profile-info-body {
        position: relative;
        padding: 12px 25px;
    }
}

.edit-section {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;

    span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 1.25em;
        border-radius: 24px;
        transition: all 170ms ease-out;
        -webkit-transition: all 170ms ease-out;

        &:hover {
            background-color: #f5f5f5;

            .svg-icon path {
                fill: $yellow;
            }
        }
    }

    a {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 1.25em;
        border-radius: 24px;

        &:hover {
            background-color: #f5f5f5;

            .svg-icon path {
                fill: $yellow;
            }
        }

        .svg-icon path{
            fill: #fff;
        }
    }
}

.profile-content-heading {
    position: relative;
    margin-bottom: 2.5rem;

    h3 {
        margin: 0;
        color: #333;
        font-size: 1.25em;
        font-weight: normal;

        i {
            margin-right: 1rem;
        }
    }

    a {
        position: absolute;
        top: 0;
        right: 0;
        color: #D6D6D6;

        &:hover {
            color: $yellow;
        }
    }
}

.profile-content-body {
    position: relative;
}

.info-block {
    margin: 0 0 1.5em;
    padding: 0 7px;
}

.info-view {
    .info-title {
        display: block;
        font-size: 0.925em;
        margin: 0 0 0.25rem;
        color: $gray;
    }

    .info-value {
        color: $black;
        font-weight: 700;
        font-size: 1.05em;
    }
}

.info-form {
    .input-field.active {
        label {
            top: -20px;
            font-size: 1.1rem;
            color: $yellow;
        }
    }
}

.time-list {
    .time-item {
        color: $black;
        font-size: 1.05em;
        padding: 3px 0;

        p {
            display: inline-block;
            width: 10rem;
        }

        span {
            display: inline-block;
            width: 10rem;
            margin-left: 2rem;
        }
    }
}

.skills-list {
    .skill-item {
        display: inline-block;
        padding: 6px 12px;
        margin-top: 5px;
        margin-right: 5px;
        border-radius: 24px;
        color: #fff;
        background-color: $blue;
        font-size: 0.925em;
    }
}

.hint-text {
    position: relative;
    top: -1rem;
    font-size: 0.825em;
    color: #C2C2C2;
}

.btn-message {
    border-radius: 4px;
    color: #fff;
    font-size: 0.925em;
    background-color: $blue;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04), 0 1px 18px 0 rgba(0, 0, 0, 0.02), 0 3px 5px -1px rgba(0, 0, 0, 0.01);

    &:hover, &:focus {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
        background-color: #1F66FF;
        color: #fff;
    }

    i {
        margin-right: 5px;
    }
}

.btn-change-bg {
    position: absolute;
    bottom: 1.5rem;
    right: 12rem;
    border-radius: 4px;
    color: #fff;
    font-size: 0.925em;
    background-color: #1F66FF;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04), 0 1px 18px 0 rgba(0, 0, 0, 0.02), 0 3px 5px -1px rgba(0, 0, 0, 0.01);

    &:hover, &:focus {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
        color: #fff;
    }

    i {
        margin-right: 5px;
    }
}

.checkbox-group {
    margin-bottom: 5rem;

    input[type="checkbox"] {
        display: none;
    }

    .checkbox-inline {
        width: calc(100% / 5.45);
    }

    .learnbook-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #e6e6e6;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            display: none;
            left: 6.5px;
            top: 3.5px;
            width: 3px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    input:checked ~ .learnbook-checkbox {
      background-color: $blue;
    }

    input:checked ~ .learnbook-checkbox:after {
        display: block;
    }
}
