@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Learnbook_Web.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Learnbook</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="~/css/Site.css" type="text/css" />
    </environment>
    <environment names="Staging,Production">

    </environment>
</head>
<body>
    <div class="form-wrap">
        <div id="login-loading">
            <div class="loading-spinner"></div>
        </div>

        <form asp-controller="Login" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="learnbook-login-form">
            <div class="logo-wrap">
                <img src="~/img/LearnBookLogo.svg" class="img-fluid" alt="Learnbook Logo" />
            </div>

            <div class="form-horizontal">
                <h2>Learnbook</h2>

                <div class="input-field col col-10 offset-md-1">
                    <input asp-for="Username" required/>
                    <label asp-for="Username"></label>
                    <span asp-validation-for="Username"></span>
                </div>

                <div class="input-field col col-10 offset-md-1">
                    <input asp-for="Password" required/>
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="form-group row">
                    <div class="col col-10 offset-md-1">
                        <input type="submit" value="Login" class="btn login-btn" id="learnbook-login-submit" />
                    </div>
                </div>
            </div>
        </form>

        <div asp-validation-summary="All"></div>

        <footer class="login-footer">
            &copy; @DateTime.Now.Year - Learnbook
        </footer>
    </div>
    <div class="background-wrap">
        <div class="half-bg white-bg"></div>
        <div class="half-bg blue-bg"></div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/gsap/src/uncompressed/TweenMax.js"></script>
        <script src="~/js/login.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">

    </environment>
</body>
</html>
