.popover {
    border-radius: 0;
    border: none;
    background-color: $blue;
    color: $white;
    box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
    padding: 0.4rem;

    &.popover-top:after {
        border-top-color: $blue;
    }
}
