.learnbook-btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.825rem;
    letter-spacing: 0.1rem;
    padding: $padding-8;
    cursor: pointer;
    border-radius: 2px;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

@include button-type("default", $white, $gray);
@include button-type("primary", $blue, $blue-hover);
@include button-outline-type("primary-outline", $blue, $blue-hover);
@include button-type("danger", $red, $red-hover);
@include button-type("logo", $white, transparent);

.learnbook-btn-logo {
    .svg-icon {
        width: 40px;
        height: 40px;
    }
}
