input[type="text"].text-input {
    border: 1px solid #E4E7EC;
    background-color: transparent;
    border-radius: 2px;
    height: 2.5rem;
    padding: 0 0.8rem;
    box-sizing: border-box;
    z-index: 5;

    &::-webkit-input-placeholder {
        color: $gray;
    }

    &:focus {
        border-color: $yellow;
    }
}

.form-dropdown-btn {
    width: 100%;
    border: 1px solid #E4E7EC;
    border-radius: 2px;
    background-color: #F7F8F9;
    padding: 0.7rem 0.8rem;

    &.dropdown-toggle:after {
        display: inline-block;
    }
}
