.dashboard {

    &__header {
        text-align: center;

        h2 {
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
        }

        p {
            color: color(darkgray);
            margin-top: 0;
        }
    }

    &__content {
        &__list {
            display: flex;
            justify-content: space-around;
            align-content: center;
        }
    }
}
