.feature-container {
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,57,107,.65);
    background-image: url(../images/loginBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

.login-container {
    position: relative;
    width: 40vw;
    height: 100vh;
    margin-right: 30vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    &__form {
        position: relative;
        width: 75%;
        margin: 0 auto;

        .form-control {
            margin-bottom: 2rem;

            &__submit {
                .form-control__error {
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                    left: 0;
                    right: 0;
                    bottom: -5rem;
                    text-align: center;
                }
            }
        }
    }
}

.form-text {
    margin-bottom: 2rem;

    h2 {
        @include font-size(2.25);
    }

    p {
        color: color(gray);
    }
}

.login-form {
    transition: all 250ms cubic-bezier(.28,.05,.32,.94);

    &--hide {
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
    }
}

.forget-password-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    transition: all 250ms cubic-bezier(.28,.05,.32,.94);

    &--show {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.btn--submit {

    &.btn--show-loader {

        .btn--submit__text {
            opacity: 0;
            visibility: hidden;
            transform: translateY(50px);
        }

        .btn--submit__loader {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    &__text {
        display: inline-block;
        transition: all 0.2s ease-out;
    }

    &__loader {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: all 0.2s ease-out;

        span {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: -0.85rem;
            left: 50%;
            margin-left: -6px;
            background-color: color(white);
            animation: 3s infinite linear;

            &:nth-child(1) {
                animation: kiri 1.2s infinite linear;
            }

            &:nth-child(2) {
                z-index: 100;
            }

            &:nth-child(3) {
                animation: kanan 1.2s infinite linear;
            }
        }
    }
}

@keyframes kanan {
    0% {
        transform: translateX(20px);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(20px);
        z-index: 200;
    }
}

@keyframes kiri {
    0% {
        transform: translateX(-20px);
        z-index: 200;
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(-20px);
    }
}