<div id="course-dashboard-view" class="dashboard-view-container">
    <div class="view-actions course-actions">
        <div ngbDropdown class="view-action-dropdown filter-course-dropdown">
            <button class="btn learnbook-btn learnbook-btn-primary-outline" id="filterCourse" ngbDropdownToggle>
                {{selectedCourses}}
            </button>
            <div class="dropdown-menu animated-dropdown filter-course-dropdown-menu" aria-labelledby="filterCourse">
                <ul class="filter-list course-filter-list">
                    <li (click)="filterCourse()" [ngClass]="{'active': selectedCourses == 'All'}">All</li>
                    <li *ngFor="let c of courses" (click)="filterCourse(c.Course.FullTerm)" [ngClass]="{'active': selectedCourses == c.Course.FullTerm}">
                        {{c.Course.FullTerm}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="view-action-button">
            <button class="btn learnbook-btn learnbook-btn-logo" data-toggle="modal" data-target="#addCourseModal">
                <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                 viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                    <g>
	                    <g>
		                    <g>
			                    <path fill="#fff" d="M20,28.5c-4.7,0-8.5-3.8-8.5-8.5s3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5S24.7,28.5,20,28.5z M20,12.5
				                    c-4.1,0-7.5,3.4-7.5,7.5s3.4,7.5,7.5,7.5s7.5-3.4,7.5-7.5S24.1,12.5,20,12.5z"/>
		                    </g>
		                    <g>
			                    <g>
				                    <path fill="#fff" d="M22.5,20.5h-5c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h5c0.3,0,0.5,0.2,0.5,0.5S22.8,20.5,22.5,20.5z"/>
			                    </g>
			                    <g>
				                    <path fill="#fff" d="M20,23c-0.3,0-0.5-0.2-0.5-0.5v-5c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v5C20.5,22.8,20.3,23,20,23z"/>
			                    </g>
		                    </g>
	                    </g>
                    </g>
                </svg>
                <span>New Course</span>
            </button>
            <span class="dashboard-action-icon" [class.active]="activeGrid == 'card'" (click)="switchGridView('card')">
                <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                    viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <g>
	                <g>
		                <g>
			                <path fill="#BDBDBD" d="M15.8,16.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C16.3,16.1,16.1,16.3,15.8,16.3z M14.3,15.3h1v-1h-1V15.3z"/>
		                </g>
		                <g>
			                <path fill="#BDBDBD" d="M20.8,16.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C21.3,16.1,21.1,16.3,20.8,16.3z M19.3,15.3h1v-1h-1V15.3z"/>
		                </g>
		                <g>
			                <path fill="#BDBDBD" d="M25.8,16.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C26.3,16.1,26.1,16.3,25.8,16.3z M24.3,15.3h1v-1h-1V15.3z"/>
		                </g>
		                <g>
			                <path fill="#BDBDBD" d="M15.8,21.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C16.3,21.1,16.1,21.3,15.8,21.3z M14.3,20.3h1v-1h-1V20.3z"/>
		                </g>
		                <g>
			                <path fill="#BDBDBD" d="M20.8,21.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C21.3,21.1,21.1,21.3,20.8,21.3z M19.3,20.3h1v-1h-1V20.3z"/>
		                </g>
		                <g>
			                <path fill="#BDBDBD" d="M25.8,21.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C26.3,21.1,26.1,21.3,25.8,21.3z M24.3,20.3h1v-1h-1V20.3z"/>
		                </g>
		                <g>
			                <path fill="#BDBDBD" d="M15.8,26.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C16.3,26.1,16.1,26.3,15.8,26.3z M14.3,25.3h1v-1h-1V25.3z"/>
		                </g>
		                <g>
			                <path fill="#BDBDBD" d="M20.8,26.3h-2c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5v2
				                C21.3,26.1,21.1,26.3,20.8,26.3z M19.3,25.3h1v-1h-1V25.3z"/>
		                </g>
		                <g>
			                <path fill="#C2C5CA" d="M24.8,26.7c-0.1,0-0.3-0.1-0.4-0.1L23,25.1c-0.2-0.2-0.2-0.5,0-0.7l1.4-1.4c0.2-0.2,0.5-0.2,0.7,0l1.4,1.4
				                c0.2,0.2,0.2,0.5,0,0.7l-1.4,1.4C25.1,26.7,24.9,26.7,24.8,26.7z M24.1,24.8l0.7,0.7l0.7-0.7l-0.7-0.7L24.1,24.8z"/>
		                </g>
	                </g>
                </g>
                </svg>
            </span>
            <span class="dashboard-action-icon" [class.active]="activeGrid == 'table'" (click)="switchGridView('table')">
                <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                        viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                    <g>
	                    <g>
		                    <g>
			                    <g>
				                    <g>
					                    <path fill="#BDBDBD" d="M26,16h-8c-0.3,0-0.5-0.2-0.5-0.5S17.7,15,18,15h8c0.3,0,0.5,0.2,0.5,0.5S26.3,16,26,16z"/>
				                    </g>
				                    <g>
					                    <path fill="#BDBDBD" d="M26,20.5h-8c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h8c0.3,0,0.5,0.2,0.5,0.5S26.3,20.5,26,20.5z"/>
				                    </g>
				                    <g>
					                    <path fill="#BDBDBD" d="M26,25h-8c-0.3,0-0.5-0.2-0.5-0.5S17.7,24,18,24h8c0.3,0,0.5,0.2,0.5,0.5S26.3,25,26,25z"/>
				                    </g>
			                    </g>
			                    <g>
				                    <g>
					                    <path fill="#BDBDBD" d="M14,16c-0.1,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.3,0.1-0.4c0.2-0.2,0.5-0.2,0.7,0
						                    c0.1,0.1,0.2,0.2,0.2,0.4c0,0.1-0.1,0.3-0.2,0.3C14.3,15.9,14.1,16,14,16z"/>
				                    </g>
				                    <g>
					                    <path fill="#BDBDBD" d="M14,20.5c-0.1,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.3,0.1-0.4c0.2-0.2,0.5-0.2,0.7,0
						                    c0.1,0.1,0.2,0.2,0.2,0.4c0,0.1-0.1,0.3-0.2,0.3C14.3,20.4,14.1,20.5,14,20.5z"/>
				                    </g>
				                    <g>
					                    <path fill="#BDBDBD" d="M14,25c-0.1,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.3,0.1-0.4c0.2-0.2,0.5-0.2,0.7,0
						                    c0.1,0.1,0.2,0.2,0.2,0.4c0,0.1-0.1,0.3-0.2,0.3C14.3,24.9,14.1,25,14,25z"/>
				                    </g>
			                    </g>
		                    </g>
	                    </g>
                    </g>
                </svg>
            </span>
        </div>
    </div>
    <div [ngSwitch]="activeGrid">
        <ng-container *ngSwitchCase="'card'">
            <ul class="course-card-list">
                <li class="course-card-item" *ngFor="let c of (courses | filterCourse:selectedCourses)">
                    <div class="top-half-card">
                        <div class="course-icon">
                            <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <g>
                                                    <path fill="#fff" d="M24.6,28.5h-8.2c-1.3,0-2.4-1.1-2.4-2.4V13.9c0-1.3,1.1-2.4,2.4-2.4h8.2c1.3,0,2.4,1.1,2.4,2.4v12.2
                                                        C27,27.4,25.9,28.5,24.6,28.5z M16.4,12.5c-0.8,0-1.4,0.6-1.4,1.4v12.2c0,0.8,0.6,1.4,1.4,1.4h8.2c0.8,0,1.4-0.6,1.4-1.4V13.9
                                                        c0-0.8-0.6-1.4-1.4-1.4H16.4z"/>
                                                </g>
                                                <g>
                                                    <g>
                                                        <path fill="#fff" d="M15.5,16.5h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,16.5,15.5,16.5z"/>
                                                    </g>
                                                    <g>
                                                        <path fill="#fff" d="M15.5,21.8h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,21.8,15.5,21.8z"/>
                                                    </g>
                                                    <g>
                                                        <path fill="#fff" d="M15.5,24.5h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,24.5,15.5,24.5z"/>
                                                    </g>
                                                    <g>
                                                        <path fill="#fff" d="M15.5,19.2h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,19.2,15.5,19.2z"/>
                                                    </g>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path fill="transparent" d="M21.4,20.7c-1,0-1.8-0.9-1.8-2s0.8-2,1.8-2s1.8,0.9,1.8,2S22.4,20.7,21.4,20.7z M21.4,17.8
                                                        c-0.4,0-0.8,0.4-0.8,1s0.4,1,0.8,1s0.8-0.4,0.8-1S21.9,17.8,21.4,17.8z"/>
                                                </g>
                                                <g>
                                                    <path fill="transparent" d="M22.1,19.6h0.1c1.1,0,1.9,0.9,1.9,1.9v1.2c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5v-1.2
                                                        c0-0.5-0.4-0.9-0.9-0.9h-0.1V19.6z"/>
                                                </g>
                                                <g>
                                                    <path fill="transparent" d="M20.8,20.6h-0.1c-0.5,0-0.9,0.4-0.9,0.9v1.2c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5v-1.2
                                                        c0-1.1,0.9-1.9,1.9-1.9h0.1V20.6z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <rect x="16.4" y="12" fill="#fff" width="1" height="16"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div ngbDropdown class="course-card-dropdown">
                            <button class="logo-btn" id="messages" ngbDropdownToggle>
                                <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                                 viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
                                    <g>
	                                    <g>
		                                    <path fill="#fff" d="M245,185.5c-32.8,0-59.5,26.7-59.5,59.5s26.7,59.5,59.5,59.5s59.5-26.7,59.5-59.5S277.8,185.5,245,185.5z M280,245
			                                    c0,19.3-15.7,35-35,35s-35-15.7-35-35s15.7-35,35-35S280,225.7,280,245z"/>
		                                    <path fill="#fff" d="M185.5,430.5c0,32.8,26.7,59.5,59.5,59.5s59.5-26.7,59.5-59.5S277.8,371,245,371S185.5,397.7,185.5,430.5z M280,430.5
			                                    c0,19.3-15.7,35-35,35s-35-15.7-35-35s15.7-35,35-35S280,411.2,280,430.5z"/>
		                                    <path fill="#fff" d="M185.5,59.5c0,32.8,26.7,59.5,59.5,59.5s59.5-26.7,59.5-59.5S277.8,0,245,0S185.5,26.7,185.5,59.5z M280,59.5
			                                    c0,19.3-15.7,35-35,35s-35-15.7-35-35s15.7-35,35-35S280,40.2,280,59.5z"/>
	                                    </g>
                                    </g>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right animated-dropdown learnbook-dropdown-menu" aria-labelledby="messages">
                                <ul class="action-list course-card-dropdown-list">
                                    <li class="action-list-item course-card-dropdown-item">
                                        <a href="">
                                            <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                                             viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                                <g>
	                                                <g>
		                                                <path fill="#000" d="M20,25.5c-3.8,0-7-2.7-8.6-4.3c-0.6-0.6-0.6-1.7,0-2.3c1.6-1.6,4.8-4.3,8.6-4.3s7,2.7,8.6,4.3c0.6,0.6,0.6,1.7,0,2.3
			                                                C27,22.8,23.8,25.5,20,25.5z M20,15.5c-3.6,0-6.7,2.8-7.9,4c-0.3,0.3-0.3,0.7,0,0.9c1.2,1.2,4.3,4,7.9,4s6.7-2.8,7.9-4
			                                                c0.3-0.3,0.3-0.7,0-0.9C26.7,18.3,23.6,15.5,20,15.5z"/>
	                                                </g>
	                                                <g>
		                                                <path fill="#000" d="M20,22.5c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5S21.4,22.5,20,22.5z M20,18.5c-0.8,0-1.5,0.7-1.5,1.5
			                                                s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S20.8,18.5,20,18.5z"/>
	                                                </g>
                                                </g>
                                            </svg>
                                            <span>View</span>
                                        </a>
                                    </li>
                                    <li class="action-list-item course-card-dropdown-item">
                                        <a href="">
                                            <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                                             viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                                <g>
	                                                <g>
		                                                <g>
			                                                <path fill="#000" d="M25.1,18.6c-0.1,0-0.3,0-0.4-0.1l-3.2-3.2c-0.1-0.1-0.1-0.2-0.1-0.4s0.1-0.3,0.1-0.4l1.3-1.3
				                                                c0.8-0.8,2.1-0.8,2.8,0l1.1,1.1c0.8,0.8,0.8,2.1,0,2.8l-1.3,1.3C25.4,18.6,25.2,18.6,25.1,18.6z M22.6,14.9l2.5,2.5l1-1
				                                                c0.4-0.4,0.4-1,0-1.4L25,13.9c-0.4-0.4-1-0.4-1.4,0L22.6,14.9z"/>
		                                                </g>
		                                                <g>
			                                                <path fill="#000" d="M12.5,28c-0.1,0-0.3-0.1-0.4-0.1C12,27.7,12,27.6,12,27.4l0.6-3.8c0-0.1,0.1-0.2,0.1-0.3l8.8-8.8
				                                                c0.2-0.2,0.5-0.2,0.7,0l3.2,3.2c0.1,0.1,0.1,0.2,0.1,0.4s-0.1,0.3-0.1,0.4l-8.8,8.8c-0.1,0.1-0.2,0.1-0.3,0.1L12.5,28
				                                                C12.6,28,12.5,28,12.5,28z M13.6,23.9l-0.5,3l3-0.5l8.3-8.3l-2.5-2.5L13.6,23.9z"/>
		                                                </g>
		                                                <g>
			                                                <path fill="#000" d="M17.2,26.5c-0.1,0-0.3,0-0.4-0.1l-3.2-3.2c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l3.2,3.2
				                                                c0.2,0.2,0.2,0.5,0,0.7C17.5,26.4,17.4,26.5,17.2,26.5z"/>
		                                                </g>
	                                                </g>
                                                </g>
                                            </svg>
                                            <span>Edit</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-half-card">
                        <div class="course-title-content">
                            <span class="course-code">{{c.Course.Code + ' ' + c.Course.CourseId}}</span>
                            <h3>{{c.Course.Title}}</h3>
                        </div>
                        <div class="course-stat-content">
                            <div class="stat-content course-student">
                                <h3>Students Enrolled</h3>
                                <span class="student-number">{{c.Course.Enrollments.length}}</span>
                            </div>
                            <div class="stat-content course-term">
                                <h3>Term</h3>
                                <span class="term-text">{{c.Course.FullTerm}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="'table'">
            <ul class="course-list">
                <li class="course-item course-item-legend">
                    <div class="course-legend-title">
                        Course
                    </div>
                    <div class="course-legend-title">
                        Subject
                    </div>
                    <div class="course-legend-title">
                        Term
                    </div>
                    <div class="course-legend-title">
                        Students Enrolled
                    </div>
                    <div class="course-legend-title">
                        Actions
                    </div>
                </li>
                <li class="course-item course-item-content" *ngFor="let c of (courses | filterCourse:selectedCourses)">
                    <div class="course-item-wrap course-title">
                        <span class="course-icon">
                            <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                                viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                <g>
	                                <g>
		                                <g>
			                                <g>
				                                <g>
					                                <path fill="#009FF5" d="M24.6,28.5h-8.2c-1.3,0-2.4-1.1-2.4-2.4V13.9c0-1.3,1.1-2.4,2.4-2.4h8.2c1.3,0,2.4,1.1,2.4,2.4v12.2
						                                C27,27.4,25.9,28.5,24.6,28.5z M16.4,12.5c-0.8,0-1.4,0.6-1.4,1.4v12.2c0,0.8,0.6,1.4,1.4,1.4h8.2c0.8,0,1.4-0.6,1.4-1.4V13.9
						                                c0-0.8-0.6-1.4-1.4-1.4H16.4z"/>
				                                </g>
				                                <g>
					                                <g>
						                                <path fill="#009FF5" d="M15.5,16.5h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,16.5,15.5,16.5z"/>
					                                </g>
					                                <g>
						                                <path fill="#009FF5" d="M15.5,21.8h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,21.8,15.5,21.8z"/>
					                                </g>
					                                <g>
						                                <path fill="#009FF5" d="M15.5,24.5h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,24.5,15.5,24.5z"/>
					                                </g>
					                                <g>
						                                <path fill="#009FF5" d="M15.5,19.2h-2c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h2c0.3,0,0.5,0.2,0.5,0.5S15.8,19.2,15.5,19.2z"/>
					                                </g>
				                                </g>
			                                </g>
			                                <g>
				                                <g>
					                                <path fill="transparent" d="M21.4,20.7c-1,0-1.8-0.9-1.8-2s0.8-2,1.8-2s1.8,0.9,1.8,2S22.4,20.7,21.4,20.7z M21.4,17.8
						                                c-0.4,0-0.8,0.4-0.8,1s0.4,1,0.8,1s0.8-0.4,0.8-1S21.9,17.8,21.4,17.8z"/>
				                                </g>
				                                <g>
					                                <path fill="transparent" d="M22.1,19.6h0.1c1.1,0,1.9,0.9,1.9,1.9v1.2c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5v-1.2
						                                c0-0.5-0.4-0.9-0.9-0.9h-0.1V19.6z"/>
				                                </g>
				                                <g>
					                                <path fill="transparent" d="M20.8,20.6h-0.1c-0.5,0-0.9,0.4-0.9,0.9v1.2c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5v-1.2
						                                c0-1.1,0.9-1.9,1.9-1.9h0.1V20.6z"/>
				                                </g>
			                                </g>
			                                <g>
				                                <rect x="16.4" y="12" fill="#009FF5" width="1" height="16"/>
			                                </g>
		                                </g>
	                                </g>
                                </g>
                            </svg>
                        </span>
                        <div class="course-title-content">
                            <span class="course-code">{{c.Course.Code + ' ' + c.Course.CourseId}}</span>
                            <h3>{{c.Course.Title}}</h3>
                        </div>
                    </div>
                    <div class="course-item-wrap course-subject">
                        <span>{{c.Course.Subject}}</span>
                    </div>
                    <div class="course-item-wrap course-term">
                        <span>{{c.Course.FullTerm}}</span>
                    </div>
                    <div class="course-item-wrap course-student">
                        <span>{{c.Course.Enrollments.length}}</span>
                    </div>
                    <div class="course-item-wrap course-buttons">
                        <div ngbDropdown class="course-card-dropdown">
                            <button class="logo-btn" id="messages" ngbDropdownToggle>
                                <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                                 viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                    <g>
	                                    <g>
		                                    <g>
			                                    <g>
				                                    <path fill="#000" d="M26,16H14c-0.3,0-0.5-0.2-0.5-0.5S13.7,15,14,15h12c0.3,0,0.5,0.2,0.5,0.5S26.3,16,26,16z"/>
			                                    </g>
			                                    <g>
				                                    <path fill="#000" d="M26,20.5H14c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h12c0.3,0,0.5,0.2,0.5,0.5S26.3,20.5,26,20.5z"/>
			                                    </g>
			                                    <g>
				                                    <path fill="#000" d="M26,25H14c-0.3,0-0.5-0.2-0.5-0.5S13.7,24,14,24h12c0.3,0,0.5,0.2,0.5,0.5S26.3,25,26,25z"/>
			                                    </g>
		                                    </g>
	                                    </g>
                                    </g>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right animated-dropdown learnbook-dropdown-menu" aria-labelledby="messages">
                                <ul class="action-list course-card-dropdown-list">
                                    <li class="action-list-item course-card-dropdown-item">
                                        <a href="">
                                            <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                                             viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                                <g>
	                                                <g>
		                                                <path fill="#000" d="M20,25.5c-3.8,0-7-2.7-8.6-4.3c-0.6-0.6-0.6-1.7,0-2.3c1.6-1.6,4.8-4.3,8.6-4.3s7,2.7,8.6,4.3c0.6,0.6,0.6,1.7,0,2.3
			                                                C27,22.8,23.8,25.5,20,25.5z M20,15.5c-3.6,0-6.7,2.8-7.9,4c-0.3,0.3-0.3,0.7,0,0.9c1.2,1.2,4.3,4,7.9,4s6.7-2.8,7.9-4
			                                                c0.3-0.3,0.3-0.7,0-0.9C26.7,18.3,23.6,15.5,20,15.5z"/>
	                                                </g>
	                                                <g>
		                                                <path fill="#000" d="M20,22.5c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5S21.4,22.5,20,22.5z M20,18.5c-0.8,0-1.5,0.7-1.5,1.5
			                                                s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S20.8,18.5,20,18.5z"/>
	                                                </g>
                                                </g>
                                            </svg>
                                            <span>View</span>
                                        </a>
                                    </li>
                                    <li class="action-list-item course-card-dropdown-item">
                                        <a href="">
                                            <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                                             viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                                <g>
	                                                <g>
		                                                <g>
			                                                <path fill="#000" d="M25.1,18.6c-0.1,0-0.3,0-0.4-0.1l-3.2-3.2c-0.1-0.1-0.1-0.2-0.1-0.4s0.1-0.3,0.1-0.4l1.3-1.3
				                                                c0.8-0.8,2.1-0.8,2.8,0l1.1,1.1c0.8,0.8,0.8,2.1,0,2.8l-1.3,1.3C25.4,18.6,25.2,18.6,25.1,18.6z M22.6,14.9l2.5,2.5l1-1
				                                                c0.4-0.4,0.4-1,0-1.4L25,13.9c-0.4-0.4-1-0.4-1.4,0L22.6,14.9z"/>
		                                                </g>
		                                                <g>
			                                                <path fill="#000" d="M12.5,28c-0.1,0-0.3-0.1-0.4-0.1C12,27.7,12,27.6,12,27.4l0.6-3.8c0-0.1,0.1-0.2,0.1-0.3l8.8-8.8
				                                                c0.2-0.2,0.5-0.2,0.7,0l3.2,3.2c0.1,0.1,0.1,0.2,0.1,0.4s-0.1,0.3-0.1,0.4l-8.8,8.8c-0.1,0.1-0.2,0.1-0.3,0.1L12.5,28
				                                                C12.6,28,12.5,28,12.5,28z M13.6,23.9l-0.5,3l3-0.5l8.3-8.3l-2.5-2.5L13.6,23.9z"/>
		                                                </g>
		                                                <g>
			                                                <path fill="#000" d="M17.2,26.5c-0.1,0-0.3,0-0.4-0.1l-3.2-3.2c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l3.2,3.2
				                                                c0.2,0.2,0.2,0.5,0,0.7C17.5,26.4,17.4,26.5,17.2,26.5z"/>
		                                                </g>
	                                                </g>
                                                </g>
                                            </svg>
                                            <span>Edit</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>
    </div>
</div>

<!-- Add Course Modal -->
<div class="modal learnbook-modal learnbook-modal-long fade" id="addCourseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                 viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                    <g>
	                    <g>
		                    <g>
			                    <path fill="#009FF5" d="M20,28.5c-4.7,0-8.5-3.8-8.5-8.5s3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5S24.7,28.5,20,28.5z M20,12.5
				                    c-4.1,0-7.5,3.4-7.5,7.5s3.4,7.5,7.5,7.5s7.5-3.4,7.5-7.5S24.1,12.5,20,12.5z"/>
		                    </g>
		                    <g>
			                    <g>
				                    <path fill="#009FF5" d="M22.5,20.5h-5c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h5c0.3,0,0.5,0.2,0.5,0.5S22.8,20.5,22.5,20.5z"/>
			                    </g>
			                    <g>
				                    <path fill="#009FF5" d="M20,23c-0.3,0-0.5-0.2-0.5-0.5v-5c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v5C20.5,22.8,20.3,23,20,23z"/>
			                    </g>
		                    </g>
	                    </g>
                    </g>
                </svg>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                     viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                        <g>
	                        <g>
		                        <g>
			                        <path fill="#bdbdbd" d="M25,25.5c-0.1,0-0.3,0-0.4-0.1l-10-10c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l10,10c0.2,0.2,0.2,0.5,0,0.7
				                        C25.3,25.5,25.1,25.5,25,25.5z"/>
		                        </g>
		                        <g>
			                        <path fill="#bdbdbd" d="M15,25.5c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l10-10c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7l-10,10
				                        C15.3,25.5,15.1,25.5,15,25.5z"/>
		                        </g>
	                        </g>
                        </g>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>