<div class="dashboard dashboard--home padding-vertical--30">
    <div class="container">
        <div class="dashboard__header">
            <p>Dashboard</p>
            <h2>Overview</h2>
        </div>

        <div class="dashboard__content padding-vertical--20">
            <div class="dashboard__content--overview margin-bottom--50">
                <card [type]="'stats'"
                      [style.width.%]="100"
                      [data]="">
                    <div class="overview-container">
                        <div class="overview-content">
                            <p>Assignments</p>
                            <h4>Assignments Completed</h4>
                        </div>

                        <div class="overview-content">
                            <p>Students</p>
                            <h4>Total Students</h4>
                        </div>

                        <div class="overview-content">
                            <p>Reports</p>
                            <h4>Semester Statistics</h4>
                        </div>
                    </div>
                </card>
            </div>

            <div class="dashboard__content--courses">
                <h3>Courses</h3>

                <div class="dashboard__content__list">
                    <card [type]="'stats'"
                          [style.width.%]="31"
                          [data]=""></card>
                    <card [type]="'stats'"
                          [style.width.%]="31"
                          [data]=""></card>
                    <card [type]="'stats'"
                          [style.width.%]="31"
                          [data]=""></card>
                </div>
            </div>

        </div>
    </div>
</div>