.italic {
    font-style: italic;
}

.null-value {
    color: $black !important;
    opacity: 0.75;
}

.error-text {
    color: $red;
}

.no-pad {
    padding: 0 !important;
}

.circle-img {
    border-radius: 50%;
}

.thumbnail-img {
    width: 40px;
    height: 40px;
}

.thumbnail-lg-img {
    width: 74px;
    height: 74px;
}
