/*  Button-Type (Fill)
    1st Param - Type
    2nd Param - Main Color
    3rd Param - Hover Color
*/
@mixin button-type($type, $bgColor, $fontColor, $hoverColor) {
    .learnbook-btn-#{$type} {
        background-color: $bgColor;
        color: $fontColor;

        &:hover {
            background-color: $hoverColor;
        }
    }
}

/* Button-Type (Outline) 
    1st Param - Type
    2nd Param - Border Color
    3rd Param - Hover Color
*/
@mixin button-outline-type($type, $color, $hoverColor) {
    .learnbook-btn-#{$type} {
        border: none;
        background-color: #EFEFEF;

        &:hover {
            background-color: $hoverColor;
            color: $white;
        }
    }
}

@mixin transition($transitionProperty) {
    transition: $transitionProperty;
    -webkit-transition: $transitionProperty;
    -moz-transition: $transitionProperty;
}

@mixin transform($transformProperty) {
    transform: $transformProperty;
    -webkit-transform: $transformProperty;
    -moz-transform: $transformProperty;
    -ms-transform: $transformProperty;
}

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type == max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
