.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: color(white);
    z-index: 1000;

    &__container {
        width: 90%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    &__home {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        align-items: center;

        span {
            display: inline-block;
            color: color(black);
            font-size: 0.825rem;
            font-weight: 700;
            font-family: $montserrat;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            margin-left: 0.75rem;
        }
    }

    &__logo {
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    &__nav {

        &--secondary {
            margin-left: auto;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-content: center;
            align-items: center;
        }

        .nav-list {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: row;

            &__item {
                position: relative;
                text-transform: uppercase;
                font-family: $montserrat;
                font-weight: 700;
                letter-spacing: 0.02rem;
                color: color(lightgray);
                padding: 1rem;
                margin-right: 0.5rem;
                cursor: pointer;
                transition: all 0.2s ease-out;
                @include font-size(0.75);

                &:last-of-type {
                    margin-right: 0;
                }

                &.active,
                &:hover {
                    color: color(blue);
                }

                &.active {
                    &:before {
                        background-color: color(blue);
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 4px;
                    height: 4px;
                    background-color: transparent;
                    border-radius: 50%;
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}
