.icons {
    display: inline-block;
    font-style: normal;
    width: 24px;
    height: 24px;

    &--user {
        background: url('../images/icons/user.svg');
    }

    &--lock {
        background: url('../images/icons/lock.svg');
    }

    &--textbook {
        background: url('../images/icons/textbook.svg');
    }

    &--textbook-color {
        background: url('../images/icons/textbook-color.svg');
    }

    &--textbook-darkblue {
        background: url('../images/icons/textbook-darkblue.svg');
    }

    &--paperwork {
        background: url('../images/icons/paperwork.svg');
    }

    &--textbook-darkblue {
        background: url('../images/icons/textbook-darkblue.svg');
    }

    &--quiz {
        background: url('../images/icons/quiz.svg');
    }

    &--quiz-darkblue {
        background: url('../images/icons/quiz-darkblue.svg');
    }

    &--report {
        background: url('../images/icons/report.svg');
    }

    &--report-darkblue {
        background: url('../images/icons/report-darkblue.svg');
    }

    &--house {
        background: url('../images/icons/house.svg');
    }

    &--house-color {
        background: url('../images/icons/house-color.svg');
    }

    &--house-darkblue {
        background: url('../images/icons/house-darkblue.svg');
    }

    &--bell {
        background: url('../images/icons/bell.svg');
    }
}
