<div class="sub-header">
    <div class="sub-header__container">
        <div class="sub-header__nav">
            <ul class="sub-nav-list">
                <li class="sub-nav-list__item"
                    *ngFor="let nav of navLinks"
                    [ngClass]="{'active': nav.name == activeNavItem}"
                    (click)="setActiveNav(nav.name)">
                    <i class="icons icons--{{nav.icon}}"></i>
                    {{nav.name}}
                </li>
            </ul>
        </div>
    </div>
</div>